# --- Core Data Fetching and Analysis ---
sec_edgar_api
requests
numpy
scikit-learn

# --- AI, NLP, and Document Processing ---
sentence-transformers
PyPDF2
#use pip install -r requirements.txt for intsallation